:root {
  --color1: #1d242c;
  --color2: #0176c3;
  --color3: #c7eeff;
  --color4: #fafafa;
}

body {
  margin: 0;
  /* width: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  /* width: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  outline: none;
  border: 1px solid black;
  box-shadow: inherit;
  /* padding: 0.5rem 0.75rem; */
  transition: all 0.3s ease;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  border-radius: 0.5rem;
  height: fit-content;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
button:hover {
  transform: translate(0, -0.4ex);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

ul,
li {
  list-style: none;
  padding: 0;
}
